html,
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
    
}

.responsive {
  width: 100%;
  height: auto;
}

.large-container {
  width: 80%;
  height: auto;
  max-width: 1000px;
  background-color: hsla(0, 0%, 100%, .5);
  border-radius: 8px;
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
  margin: auto;
  margin-top: 60px;
}

body {
    background: url(assets/wall.jpg) center no-repeat;
    background-size: cover;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: repeat;
   }


img {
    width: 180px;
    height: 180px; 
    padding: 60px;
    border-radius: 200px;
}

img:hover {
  filter: grayscale(20%);
  transform: scale(1.1);
}
.primary {
  align-items: center;
}

h1, h2, p {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}
.quote {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 0.9rem; 
  text-transform: uppercase;
  font-weight: bold;
}

.author {
  font-family: 'Crimson Text', serif;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: bold;
}
h1 {
    font-style: italic;
}
.top-skills, .experience, .interests {
   font-size: 1.2rem;
    font-weight: 500;
}
.top-skills {
    margin-top: 80px;
}
.button {
  font: 25px;
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  border-radius: 25px;
}
.portofolio {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;  
}

.fa {
  padding: 20px;
  font-size: 20px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 10px 10px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.social-media {
   display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;  
    padding-bottom: 40px;
}
