html,
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

body {
    background: url(assets/wall.jpg) center no-repeat;
    background-size: cover;
}

img {
    width: 200px;
    height: 200px; 
    padding: 30px;
    padding-right: 200px;
}
img:hover {
  filter: grayscale(20%);
  transform: scale(1.1);
}
.primary {
   display: flex;
  flex-flow: row wrap;
  align-items: center;
}

h1, h2, p {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}
.quote {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 0.9rem; 
  text-transform: uppercase;
  font-weight: bold;
}

.author {
  font-family: 'Crimson Text', serif;
  font-size: 1.2rem;
  font-style: italic;
  font-weight: bold;
}
h1 {
    font-style: italic;
}
.top-skills, .experience, .interests {
   font-size: 1.2rem;
    font-weight: 500;
}
.top-skills {
    margin-top: 80px;
}
.button {
  background-color: black;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  color: white;
  display: inline-block;
  cursor: pointer;
  border-radius: 16px;
  
}
.portofolio {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;  
}